
.pagination{
    position: absolute;
    bottom: 100px;
    width: 100%;
    right: 0;
    left: 0;
    justify-content: center;
}
.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #4a4743;
    border-color: #4a4743;
}
.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-right: -1px;
    line-height: 1.25;
    background-color: #4a4743;
    border: 1px solid #dee2e600;
    color: #d6b143;
    margin: 3px !important;
    border-radius: 8px !important;
   min-width: 40px;
    text-align: center;
}

.page-item.active .page-link,
.page-link:hover {
    z-index: 1;
    color: #fff;
    background-color: #d6b143;
    border-color: #d6b143;
}

body {
    min-height: 100vh;
    padding-bottom: 150px;
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.proPagination .pagination{
    position: relative;
   bottom: 0;
    justify-content: center;
}
/*.datepicker-dropdown{*/
/*        top: 485px;*/
/*    display: block;*/
/*    width: fit-content;*/
/*    left: 0 !important;*/
/*    right: 0px;*/
/*    margin: auto;*/
/*    padding: 10px;*/
/*}*/

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    /*display: none;*/
    -webkit-appearance: none;
    position:absolute;
     left: 0;
     color:#fff;
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}