/* ====================loading page=================== */

.bg-loading {
    background-image: url(../images/backgrounds/6.jpg);
    background-size: 200%;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: 700%; */
}

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    /* box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1); */
    overflow: hidden;
    /* background: dodgerblue; */
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.shape {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d6b143;
}

.shape-1 {
    -webkit-animation: shape-1 10s ease-in-out infinite;
    animation: shape-1 10s ease-in-out infinite;
}

@-webkit-keyframes shape-1 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(0deg) translate(0) scale(1);
        transform: rotate(0deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(0deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(0deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(0deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(0deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(0deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(0deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(0deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(0deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(0deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(0deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(0deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(0deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(0deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(0deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(0deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-1 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(0deg) translate(0) scale(1);
        transform: rotate(0deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(0deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(0deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(0deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(0deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(0deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(0deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(0deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(0deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(0deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(0deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(0deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(0deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(0deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(0deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(0deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(0deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(0deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(0deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(0deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(0deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-2 {
    -webkit-animation: shape-2 10s ease-in-out infinite;
    animation: shape-2 10s ease-in-out infinite;
}

@-webkit-keyframes shape-2 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(36deg) translate(0) scale(1);
        transform: rotate(36deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(36deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(36deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(36deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(36deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(36deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(36deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(36deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(36deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(36deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(36deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(36deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(36deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(36deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(36deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(36deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-2 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(36deg) translate(0) scale(1);
        transform: rotate(36deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(36deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(36deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(36deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(36deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(36deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(36deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(36deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(36deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(36deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(36deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(36deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(36deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(36deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(36deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(36deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(36deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(36deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(36deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(36deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(36deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-3 {
    -webkit-animation: shape-3 10s ease-in-out infinite;
    animation: shape-3 10s ease-in-out infinite;
}

@-webkit-keyframes shape-3 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(72deg) translate(0) scale(1);
        transform: rotate(72deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(72deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(72deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(72deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(72deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(72deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(72deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(72deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(72deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(72deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(72deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(72deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(72deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(72deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(72deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(72deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-3 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(72deg) translate(0) scale(1);
        transform: rotate(72deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(72deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(72deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(72deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(72deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(72deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(72deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(72deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(72deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(72deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(72deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(72deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(72deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(72deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(72deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(72deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(72deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(72deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(72deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(72deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(72deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-4 {
    -webkit-animation: shape-4 10s ease-in-out infinite;
    animation: shape-4 10s ease-in-out infinite;
}

@-webkit-keyframes shape-4 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(108deg) translate(0) scale(1);
        transform: rotate(108deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(108deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(108deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(108deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(108deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(108deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(108deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(108deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(108deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(108deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(108deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(108deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(108deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(108deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(108deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(108deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-4 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(108deg) translate(0) scale(1);
        transform: rotate(108deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(108deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(108deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(108deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(108deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(108deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(108deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(108deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(108deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(108deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(108deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(108deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(108deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(108deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(108deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(108deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(108deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(108deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(108deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(108deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(108deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-5 {
    -webkit-animation: shape-5 10s ease-in-out infinite;
    animation: shape-5 10s ease-in-out infinite;
}

@-webkit-keyframes shape-5 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(144deg) translate(0) scale(1);
        transform: rotate(144deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(144deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(144deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(144deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(144deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(144deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(144deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(144deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(144deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(144deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(144deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(144deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(144deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(144deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(144deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(144deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-5 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(144deg) translate(0) scale(1);
        transform: rotate(144deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(144deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(144deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(144deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(144deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(144deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(144deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(144deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(144deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(144deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(144deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(144deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(144deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(144deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(144deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(144deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(144deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(144deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(144deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(144deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(144deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-6 {
    -webkit-animation: shape-6 10s ease-in-out infinite;
    animation: shape-6 10s ease-in-out infinite;
}

@-webkit-keyframes shape-6 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(180deg) translate(0) scale(1);
        transform: rotate(180deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(180deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(180deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(180deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(180deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(180deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(180deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(180deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(180deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(180deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(180deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(180deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(180deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(180deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(180deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-6 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(180deg) translate(0) scale(1);
        transform: rotate(180deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(180deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(180deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(180deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(180deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(180deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(180deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(180deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(180deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(180deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(180deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(180deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(180deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(180deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(180deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(180deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(180deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(180deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(180deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(180deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(180deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-7 {
    -webkit-animation: shape-7 10s ease-in-out infinite;
    animation: shape-7 10s ease-in-out infinite;
}

@-webkit-keyframes shape-7 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(216deg) translate(0) scale(1);
        transform: rotate(216deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(216deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(216deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(216deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(216deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(216deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(216deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(216deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(216deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(216deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(216deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(216deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(216deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(216deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(216deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(216deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-7 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(216deg) translate(0) scale(1);
        transform: rotate(216deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(216deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(216deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(216deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(216deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(216deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(216deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(216deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(216deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(216deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(216deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(216deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(216deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(216deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(216deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(216deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(216deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(216deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(216deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(216deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(216deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-8 {
    -webkit-animation: shape-8 10s ease-in-out infinite;
    animation: shape-8 10s ease-in-out infinite;
}

@-webkit-keyframes shape-8 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(252deg) translate(0) scale(1);
        transform: rotate(252deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(252deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(252deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(252deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(252deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(252deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(252deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(252deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(252deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(252deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(252deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(252deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(252deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(252deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(252deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(252deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-8 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(252deg) translate(0) scale(1);
        transform: rotate(252deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(252deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(252deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(252deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(252deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(252deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(252deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(252deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(252deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(252deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(252deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(252deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(252deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(252deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(252deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(252deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(252deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(252deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(252deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(252deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(252deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-9 {
    -webkit-animation: shape-9 10s ease-in-out infinite;
    animation: shape-9 10s ease-in-out infinite;
}

@-webkit-keyframes shape-9 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(288deg) translate(0) scale(1);
        transform: rotate(288deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(288deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(288deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(288deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(288deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(288deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(288deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(288deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(288deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(288deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(288deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(288deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(288deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(288deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(288deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(288deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-9 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(288deg) translate(0) scale(1);
        transform: rotate(288deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(288deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(288deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(288deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(288deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(288deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(288deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(288deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(288deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(288deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(288deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(288deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(288deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(288deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(288deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(288deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(288deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(288deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(288deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(288deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(288deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

.shape-10 {
    -webkit-animation: shape-10 10s ease-in-out infinite;
    animation: shape-10 10s ease-in-out infinite;
}

@-webkit-keyframes shape-10 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(324deg) translate(0) scale(1);
        transform: rotate(324deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(324deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(324deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(324deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(324deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(324deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(324deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(324deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(324deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(324deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(324deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(324deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(324deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(324deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(324deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(324deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@keyframes shape-10 {
    0% {
        -webkit-transform: rotate(0) translate(0) scale(0);
        transform: rotate(0) translate(0) scale(0);
    }
    5% {
        -webkit-transform: rotate(0) translate(0) scale(1);
        transform: rotate(0) translate(0) scale(1);
    }
    15% {
        -webkit-transform: rotate(324deg) translate(0) scale(1);
        transform: rotate(324deg) translate(0) scale(1);
    }
    20% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
    }
    25% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
        transform: rotate(324deg) translate(0, -80px) scale(0.2, 0.2) rotate(180deg);
    }
    30% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
        transform: rotate(324deg) translate(0, -80px) scale(1, 0.15) rotate(180deg);
    }
    35% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(1, 0.15);
        transform: rotate(324deg) translate(0, -60px) scale(1, 0.15);
    }
    40% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
        transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(-30px, 0);
    }
    45% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
        transform: rotate(324deg) translate(0, -60px) scale(1, 0.15) translate(30px, 0);
    }
    50% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(0.2, 1);
        transform: rotate(324deg) translate(0, -60px) scale(0.2, 1);
    }
    55% {
        -webkit-transform: rotate(324deg) translate(0, -60px) scale(0.5, 0.2);
        transform: rotate(324deg) translate(0, -60px) scale(0.5, 0.2);
        border-radius: 0;
    }
    60% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.5, 0.5);
        transform: rotate(324deg) translate(0, -80px) scale(0.5, 0.5);
        border-radius: 50%;
    }
    65% {
        -webkit-transform: rotate(324deg) translate(0, 0) scale(0.2, 0.2);
        transform: rotate(324deg) translate(0, 0) scale(0.2, 0.2);
        border-radius: 50%;
    }
    70% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
        transform: rotate(324deg) translate(0, -80px) scale(0.2, 1);
        border-radius: 0;
    }
    75% {
        -webkit-transform: rotate(324deg) translate(0, -80px) scale(0.3, 0.3);
        transform: rotate(324deg) translate(0, -80px) scale(0.3, 0.3);
        border-radius: 0;
    }
    80% {
        -webkit-transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5);
        transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5);
        border-radius: 0;
    }
    85% {
        -webkit-transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
        transform: rotate(324deg) translate(0, -50px) scale(0.5, 0.5) rotate(179deg) translate(50px, 50px);
    }
    90% {
        -webkit-transform: rotate(324deg) translate(0, -30px) scale(0.5, 0.1);
        transform: rotate(324deg) translate(0, -30px) scale(0.5, 0.1);
    }
    95% {
        -webkit-transform: rotate(324deg) translate(0, -10px) scale(0.1, 0.5);
        transform: rotate(324deg) translate(0, -10px) scale(0.1, 0.5);
    }
    100% {
        -webkit-transform: rotate(324deg) translate(0, 300px) scale(0.1, 0.5);
        transform: rotate(324deg) translate(0, 300px) scale(0.1, 0.5);
    }
}

@media(min-width:768px) and (max-width:1025px) {
    .bg-loading {
        background-size: 500% !important;
    }
}

@media(max-width:767px) {
    .bg-loading {
        background-size: 700% !important;
    }
}