/* =========================general ====================== */

body {
    font-family: 'Tajawal', sans-serif;
    background: #f0fafe;
    background-size: cover !important;
}

* {
    word-break: break-word;
}

.default-color {
    color: #d6b143;
}

.default-bg {
    background: #d6b143;
}

.br-50 {
    border-radius: 50px;
}

/*::-webkit-scrollbar {
    width: 8px;
}*/
::-webkit-scrollbar {
    display: none;
}

/* Track */
/*

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #eee;
    border-radius: 10px;
}

!* Handle *!

::-webkit-scrollbar-thumb {
    background: rgba(238, 238, 238, 0.582);
    border-radius: 10px;
    cursor: pointer;
}

!* Handle on hover *!

::-webkit-scrollbar-thumb:hover {
    background: #eee;
    cursor: pointer;
}
*/

ul li {
    list-style-type: none;
}

header {
    margin-top: 50px;
}

a:hover, a {
    color: #fff;
    text-decoration: none;
}

.text-secondary {
    color: #babbbb!important;
}

/* ====================colors ======================== */

.worked-cat select,.delete:before,.show-more,.bg-provider .provider-social li,.provider-services .dir,.subs .delete:before,.card-plus i,.open-btn, .provider-btn, .back, option, .contact, .new-order .call, .slick-prev:before, .slick-next::before {
    color: #d6b143!important;
}

.sidenav a:hover,.choose-offer .btn-secondary, .choose-offer .btn-secondary:not(:disabled):not(.disabled).active, .btn-group>.btn:not(:last-child):not(.dropdown-toggle), .worked-cat select, .bg-login form .form-control::placeholder, .bg-signup form .form-control::placeholder, .my-info .form-control::placeholder, .product-info .form-control::placeholder, .subs form .form-control::placeholder, .contactForm .form-control::placeholder, .bg-login form .form-control, .bg-signup form .form-control, .my-info .form-control, .product-info .form-control, .subs form .form-control, .contactForm .form-control, .bg-login form .show-pass, .bg-signup form .show-pass, .bg-signup form .location, .profile-info h6, .my-subscripe h6 {
    color: #fff!important;
}

.provider-social .bl-before:before, .search .btn-group li.active label, .avatar-upload .avatar-edit input+label, .bl-before:before, .avatar-upload .avatar-edit input+label, .custom-control-input:checked~.custom-control-label::before, .sidenav {
    background-color: #d6b143!important;
}
.form-control:focus{
    background-color: transparent;
    box-shadow: none;
}
/* ==========================side menu =================== */

.open-btn {
    font-size: 30px;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-image: url("../images/illustrations/side_menu_ornament_en.png");
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 43%;
    background-attachment: initial;
    z-index: 99;
}
.sidenav a {
    padding: 10px 8px 10px 50px;
    text-decoration: none;
    font-size: 17px;
    color: #333;
    display: block;
    transition: 0.3s;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.intro-btn a, .newOrder-btn a, .add-pro-btn a {
    width: 180px;
    padding: 10px;
    font-weight: 800
}
.sidenav ul li:nth-child(1):before, .sidenav ul li:nth-child(3):before {
    content: "\f192";
    margin-top: 10px;
    position: ABSOLUTE;
    left: 15px;
    font-size: 20px;
    font-family: 'Font Awesome\ 5 Free';
}
/* ==========================intro page =================== */
.bg-intro {
    background-image: url("../images/backgrounds/4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-intro p {
    font-size: 1.2rem;
}

.bg-intro a, .bg-intro span {
    font-weight: 800;
}

.provider-btn {
    border: solid 1px #e0bd69;
}

.download-app img {
    width: 100px;
    height: 35px;
}

/* =================================login ========================== */
.modal-content{
    padding: 25px;
    border-radius: 25px;
}
.modal.show .modal-dialog{
    transform: translate(0,60%);
}
.code .form-group .form-control{
    border: 1px solid #929292;
    height: 35px;
}

.code .form-group {
        height: 40px;
        margin-bottom: 1rem;
        width: 25%;
        float: left;
        padding: 2px;
    } 

.skip {
    font-size: 20px;
    color: #a8a8a8;
}

.bg-login {
    background-image: url("../images/backgrounds/3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-login form {
    width: 30%;
    margin: auto
}

.bg-login form .form-group, .product-info .form-group {
    position: relative;
}

.bg-login form .form-control,.code form .form-control, .bg-signup form .form-control, .my-info .form-control, .product-info .form-control, .subs form .form-control, .contactForm .form-control {
    background: #ffffff2b;
    border-radius: 50px;
    outline: none;
    box-shadow: none;
    height: 47px;
    border: 2px solid;
}

.bg-login form .show-pass, .bg-signup form .show-pass, .bg-signup form .location {
    cursor: pointer;
    position: absolute;
    left: 20px;
    top: 15px;
    font-size: 20px;
}

.back {
    right: 50px;
    position: absolute;
    font-weight: 800;
    padding-top: 10px;
}

/* =============================== sign up ============================= */

.bg-signup {
    background-image: url("../images/backgrounds/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#mapModal #googleMap {
    width: 100%;
    height: 500px;
}

.bg-signup form {
    margin: auto;
    padding: 0;
}

.bg-signup form .form-group {
    position: relative;
    width: 47%;
    float: right;
    margin-left: .5rem;
    margin-right: .5rem;
}

option {
    font-weight: 800;
}

.incorrectMsg {
    display: none;
    color: red;
    word-break: initial;
}

.shake {
    animation: shake 0.8s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

/* ================================ financial========================= */

.custom-switch {
    direction: ltr;
}

.custom-control-label {
    width: 100%;
    text-align: right;
}

#contact-fb, #contact-tw {
    cursor: pointer;
}

.disconnect {
    color: #333
}

.custom-control-input:checked~.custom-control-label::before {
    /* background: #e0bd69; */
    border-color: #e0bd69;
    outline: none;
    box-shadow: none;
}

.contact-border {
    border: 2px solid;
    padding: 25px 0 25px 25px;
    border-radius: 20px;
    background: #333333a6;
    width: 100%;
    /* margin: auto; */
}

/* ==========================orders============================== */

.bg-orders {
    background-image: url("../images/backgrounds/5.jpg");
    background-size: cover !important;
    background-repeat: no-repeat;
}

.order {
    background: #fffcfc30;
    padding: 15px;
    border-radius: 25px;
    min-height: 111px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.bg-orders ul {
    padding: 0px;
}

.bl-before:before {
    content: "";
    padding: 1px;
    height: 100%;
    position: absolute;
    left: 5px;
    border-radius: 50%;
}

/* =========================new order =========================== */

.new-order ul li {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

.new-order .call {
    background: #e0bd6975;
    border: 1px solid #e0bd69;
    font-size: 15px;
    margin-bottom: .5rem;
}

.new-order .order {
    min-height: 100%;
}

.new-order ul li span {
    font-size: 13px;
}

/* ============================= profile ============================ */

.my-info, .my-subscripe, .contact-ways, .payment-ways, .contactForm {
    background: #ffffff1a;
    padding: 20px;
    border-radius: 25px;
}

.profile-info, .my-subscripe {
    color: #a8a8a8;
}

.avatar-upload {
    position: relative;
    max-width: 100%;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 42%;
    z-index: 1;
    bottom: 0;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin-bottom: 0;
    border-radius: 100%;
    /* background: #e0bd69; */
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f03e";
    font-family: 'Font Awesome\ 5 Free';
    color: #333;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    font-size: 30px;
}

.avatar-upload .avatar-preview {
    width: 100%;
    height: 250px;
    position: relative;
    border: none;
    box-shadow: none;
}

.avatar-upload .avatar-preview>div {
    width: 75%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
    border-radius: 25px;
}

.btn-edit button {
    width: 49%;
}

/* =========================categories========================= */

.golden-subscribe {
    background: #d9b046;
    padding: 20px;
    border-radius: 25px;
    background: url('../images/illustrations/sub_ornament_left_coal.png')0px 100%, url('../images/illustrations/sub_ornament_right_coal.png')100% 0px, #d9b046;
    background-repeat: no-repeat;
    background-size: 19%;
}

.worked-cat select {
    background-color: #3a383496;
    border-radius: 50px !important
}

.add-more {
    cursor: pointer;
}

.new-cat {
    display: none;
}

.new-cat .form-group {
    float: right;
}

/* ========================= products ============================= */

.card {
    flex-direction: row;
    background: #fffcfc30;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.card-img {
    width: 33%;
    height: 149px;
}

.card-plus {
    width: 33%;
    height: auto;
    background: #545454;
}

.card-plus i {
    font-size: 36px;
    margin-right: 36%;
    margin-top: 30%;
    
}

/* =============================== add product ======================= */

.wrap-custom-file {
    position: relative;
    display: inline-block;
    width: 44%;
    height: 100px;
    margin: 0 0.5rem 1rem;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 25px;
    overflow: hidden;
}

.wrap-custom-file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    overflow: hidden;
    opacity: 0;
}

.wrap-custom-file label {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    padding: 0 0.5rem;
    cursor: pointer;
    background-color: #fffcfc30;
    border-radius: 0px;
    -webkit-transition: -webkit-transform 0.4s;
    transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    transition: transform 0.4s, -webkit-transform 0.4s;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100% !important;
}

.wrap-custom-file label span {
    display: block;
    margin-top: 2rem;
    font-size: 1.4rem;
    color: #777;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
    margin: 0;
}

.wrap-custom-file label img {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
    font-size: 1.5rem;
    color: #e0bd69;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

.wrap-custom-file label:hover {
    -webkit-transform: translateY(-1rem);
    transform: translateY(-1rem);
}

.wrap-custom-file label:hover span, .wrap-custom-file label:hover .fa {
    color: #333;
}

.wrap-custom-file label.file-ok {
    background-size: cover;
    background-position: center;
}

.wrap-custom-file label.file-ok span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.3rem;
    font-size: 1.1rem;
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
}

.wrap-custom-file label.file-ok img, .wrap-custom-file label.file-ok #add {
    display: none;
}

.wrap-custom-file label.file-ok span {
    display: none;
}

.remove {
    position: absolute !important;
    top: 0!important;
    font-size: 89px!important;
    z-index: 99999999!important;
    width: 100%;
    margin: 0;
    right: 0;
    height: 100%;
    display: none;
}

.wrap-custom-file label:hover {
    -webkit-transform: none;
}

.remove:hover {
    cursor: pointer;
}

.delete:before {
    content: "x";
    font-size: 60px;
}

.sub-section {
    width: 48%;
    display: inline-block;
}

.currency {
    position: absolute;
    left: 35px;
    top: 10px;
    color: #eeeeee80;
}

/* ========================offers =============================== */

.bg-offers {
    background-image: url("../images/backgrounds/5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.offer-price {
    font-size: 50px;
    font-weight: 800;
}

.new-price {
    width: 35%;
    margin: auto;
}

/* .new-offer{
    background-image: url("../images/illustrations/price_ornament.png");
} */

.choose-offer .card:hover, .choose-offer .btn-secondary.active .card {
    border: 1px solid #d6b143;
    background: #d6b1431c;
}

.choose-offer li {
    text-align: right;
    word-break: inherit;
    white-space: initial;
}

.choose-offer .btn-secondary, .choose-offer .btn-secondary:not(:disabled):not(.disabled).active, .choose-offer.btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    background-color: transparent;
    border-color: transparent;
    outline: none!important;
    box-shadow: none !important;
    border: none !important;
}

/* ==========================subs=============================== */

.subs .btn-group p {
    word-break: break-all;
    white-space: normal;
}

.subs .sub {
    background: #fffcfc30;
    padding: 15px;
    border-radius: 25px !important;
    min-height: 111px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    background: url('../images/illustrations/sub_ornament_left_coal.png')0px 100%, url('../images/illustrations/sub_ornament_right_coal.png')100% 0px, #fffcfc30;
    background-repeat: no-repeat;
    background-size: 18.5%;
}

.subs .sub.active {
    /* background: #d6b143 !important; */
    color: #333 !important;
    background: url('../images/illustrations/sub_ornament_left_coal.png')0px 100%, url('../images/illustrations/sub_ornament_right_coal.png')100% 0px, #d6b143 !important;
    background-repeat: no-repeat!important;
    background-size: 18.5%!important;
}

.subs .sub.active h4 {
    color: #333 !important;
}

.accounts ul li {
    background: #fffcfc30;
    padding: 25px;
    border-radius: 25px !important;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
}

.transaction-amount {
    position: relative;
}

.subs .wrap-custom-file {
    position: relative;
    display: inline-block;
    width: 60%;
    height: 150px;
    margin: 0 4.5rem 1rem;
    text-align: center;
    border: 2px solid #ffffff;
    border-radius: 25px;
    overflow: hidden;
    /* margin: auto; */
}

.subs .wrap-custom-file label img {
    position: absolute;
    bottom: 5rem;
}

.subs .wrap-custom-file label b {
    position: absolute;
    bottom: 2rem;
    display: block;
    width: 100%;
    margin: auto;
}

.subs .delete:before {
    content: "x";
    font-size: 77px;
    line-height: 1.6;
}

/* ==============================search ========================== */

.search .btn-group label {
    width: 90%;
    border-radius: 50px !important;
    background: transparent !important;
    border: 2px solid #e0bd69;
    margin-right: 1px !important;
    margin-left: 1px !important;
    margin-top: 5px;
    padding-bottom: 6px;
    padding-top: 6px;
    cursor: pointer;
}

.search .btn-group li {
    padding: 0;
    margin: -4px;
    background: transparent;
    border: none;
}

.search .btn-group li.active, .btn-secondary:not(:disabled):not(.disabled):active {
    background: transparent !important;
    border: none !important;
    /* outline: none !important;
    box-shadow: none !important;  */
}

.search .btn-group li.active label {
    /* background: #e0bd69 !important; */
    border: 2px solid #e0bd69 !important;
    color: #333 !important;
}

.fa-search {
    font-size: 25px;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus, .search .btn-group li.active, .btn-secondary:not(:disabled):not(.disabled):active {
    box-shadow: none !important;
    border: none;
    box-shadow: none !important;
}

/* ======================== user categories ============================= */

.show-more {
    text-align: center;
    display: block;
    /* color: #d6b143; */
    border: 3px solid #fff;
    padding: 8px;
    border-radius: 25px;
    width: 50%;
    margin: auto;
    display: none;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.38);
    font-weight: 800;
}

.categories .card:hover .show-more {
    display: block
}

.categories .card:hover:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #79797942;
    position: absolute;
}

.categories.offers ul li .card-img-overlay, .sub-cat ul li .card-img-overlay, .offers ul li .card-img-overlay {
    position: absolute;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-image: linear-gradient(to bottom, #ffffff00, #0e0e0e);
}

.sub-cat ul li .card:hover, .categories .card:hover {
    border: 1px solid #d6b143;
}

.categories.offers ul li .card, .sub-cat ul li .card, .offers ul li .card {
    height: 250px;
}

.offers-u .offer-price {
    position: absolute;
    bottom: 25px;
    left: 10px;
    font-weight: 800;
    font-size: 20px;
}

.form-icon {
    position: absolute;
    left: 15px;
    top: 15px;
    font-size: 20px;
}

.br-0 {
    border-radius: 0px;
}

.add-fav {
    color: #a8a8a8;
    font-weight: 800;
    font-size: 21px;
}

.serv-order-bg {
    background: #d6b1431a;
}

/* =========================== contact form ========================= */

.contactForm #comment {
    height: 100px;
    border-radius: 25px;
}

/* =======================provider view ======================= */

.bg-provider {
    background-image: url("../images/backgrounds/6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}



.provider-img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.38);
}


.provider-services .card {
    border-radius: 0px !important
}

.provider-services .card .card-img {
    width: 100%;
    height: 100%;
}

.provider-services .card .card-body-img {
    width: 50%;
}

.provider-services .dir {
    font-size: 30px;
    display: flex;
    align-items: flex-end;
}

.card-title {
    margin-bottom: .75rem;
    font-weight: 800;
}

.provider-social li {
    margin: auto !important;
    text-align: -webkit-auto !important;
    font-size: 25px;
    padding-top: 5px !important;
    padding-bottom: 5px !important
}

.provider-social li i {
    width: 100%;
    text-align: center;
}

.provider-social .bl-before:before {
    content: "";
    /* background: #e0bd69; */
    padding: 1px;
    height: 100%;
    position: absolute;
    left: -5px !important;
    border-radius: 50%;
}

.slick-slide {
    margin: 10px;
}

.slick-prev:before, .slick-next::before {
    font-weight: bolder;
    font-family: 'Font Awesome\ 5 Free';
}

.slick-prev:before {
    content: "\f053";
}

.slick-next:before {
    content: "\f054";
}

/* ======================================== media ====================== */

@media(min-width:768px) and (max-width:1025px) {
    .provider-services .card .card-body-img {
        width: 20%;
    }
    .subs .sub.active, .subs .sub {
        background-size: 6%!important;
    }
    .wrap-custom-file {
        width: 47%;
    }
    .bg-login form {
        width: 60%;
        margin: auto;
    }
    .golden-subscribe {
        background: #d9b046;
        padding: 20px;
        border-radius: 25px;
        background: url(../images/illustrations/sub_ornament_left_coal.png)0px 100%, url(../images/illustrations/sub_ornament_right_coal.png)100% 0px, #d9b046;
        background-repeat: no-repeat;
        background-size: 7%;
    }
    .card-plus i {
        font-size: 55px;
        margin-right: 40%;
        margin-top: 10%;
        color: #d6b143;
    }
    .bg-orders, .bg-offers {
        background-image: url("../images/backgrounds/5.jpg");
    }
    .bg-intro {
        background-image: url("../images/backgrounds/4.jpg");
    }
    .bg-login {
        background-image: url("../images/backgrounds/3.jpg");
    }
    .bg-signup {
        background-image: url(../images/backgrounds/2.jpg);
    }
    .login-content, .signup-content {
        margin-top: 25%;
    }
    .bg-signup form .form-group {
        position: relative;
        width: 46%;
    }
    .contact-border {
        border: 2px solid;
        padding: 25px 0 25px 25px;
        border-radius: 20px;
        background: #333333a6;
        float: none !important;
        width: 100%;
        margin-bottom: 40px;
    }
    .my-subscripe {
        margin-bottom: 3rem;
    }
}

@media(max-width:767px) {
    .code-bg{
        background-size: 100% 150% !important;
    }
    .sub-section {
        width: 100%;
        float: none !important;
    }
    .provider-services .card .card-body-img {
        width: 100%;
    }
    .provider-social {
        padding: 0;
        text-align: center;
        width: 100% !important;
    }
    .bg-provider .provider-social li {
        color: #d6b143;
        margin: auto;
    }
    .bl-before:before {
        left: 0px;
    }
    .subs .sub, .subs .sub.active {
        background-size: 22.5%;
    }
    .new-price {
        width: 95%;
    }
    .my-subscripe {
        margin-bottom: 3rem;
    }
    .contact-border {
        width: 100%;
        margin-bottom: 30px;
    }
    .intro-logo {
        width: 100% !important;
    }
    .bg-intro p {
        width: 90% !important;
    }
    .bg-login form {
        width: 100%;
    }
    .bg-orders, .bg-offers {
        background-image: url("../images/backgrounds/5.jpg");
    }
    .bg-intro {
        background-image: url("../images/backgrounds/4.jpg");
        background-size: 100% 100%;
    }
    .bg-login {
        background-image: url("../images/backgrounds/3.jpg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    .bg-signup {
        background-image: url(../images/backgrounds/2.jpg);
        background-size: 100% 100%;
    }
    .bg-signup form, .bg-signup form .form-group {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.heart{
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 1;
}


.intro-logo{
        width: 200px !important;
    margin-bottom: 3em !important;
}